$light-grey:   #d7d7d7;
$blue:         rgb(23, 97, 196);
$red:          rgb(226, 27, 27);
$brown:        rgb(87, 59, 11);
$green:        rgb(76, 170, 53);
$yellow:       rgb(255, 238, 51);
$purple:       rgb(173, 0, 255);





$color-board: $light-grey;
$color-1: $red;
$color-2: $green;
$color-3: $yellow;
$color-4: $blue;
$color-5: $brown;
